.container {
    padding: 20px;
    background: whitesmoke;
    width: 95%;
    height: 100vh;
  }
  
  .container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    background: rgba(255, 255, 0, 0.621);
  }
  .genre h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .genre p {
    margin-bottom: 20px;
  }
  
  
  
 
  
  